@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link {
    color: #000;
    padding-right: 12em;
    margin-top: 2em;
    margin-bottom: 2em;
}
a:link {
    width: 10%;
    text-decoration: none;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", sans-serif;
}
header {
    background: #f8f8f8;
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header ul li {
    list-style: none;
    height: 7vh;
    padding-top: 10px;
    color: #666666;
    font-size: 20px;
}
header ul a:first-child {
    margin-right: 5em;
}
header ul a:last-child {
    margin-right: 5em;
}
header ul a:hover {
    text-decoration: none;
}
.card-img {
    max-width: 500px;
    max-height: 242px;
    min-height: 242px;
}
.img-post {
    min-width: auto;
    max-width: 1000px;
    align-self: center;
}
.ali-center {
    text-align: justify;
}

@media (max-width: 768px) {
    header ul li {
        height: 10vh;
    }
}
.line::before {
    display: block;
    content: "";
    width: 6.5rem;
    height: 4px;
    background: #00b45b;
}
.msg_success {
    background: green;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: fixed;
    top: 12%;
    left: 80%;
    right: 20%;
    width: 10%;
    padding-top: 10px;
    z-index: 9999;
}
.box {
    width: 40%;
    background: #f8f8f8;
}
.messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
}
.al-self-center {
    align-self: center;
}
